<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <h1 style="display: inline-block;">Dashboard > </h1>
    <a
      class="btn btn-primary"
      style="float: right; margin: 8px;"
      href="/logout"
    >Logout</a>
    <h1 style="display: inline-block;">Welcome
      {{user.username}}</h1>
    <table
      class="table table-dark table-striped table-hover table-sm"
      cellspacing="10"
      cellpadding="10"
      border="1"
    >
      <tr>
        <th>User ID</th>
        <td>{{user.id}}</td>
      </tr>
      <tr>
        <th>UserName</th>
        <td>{{user.username}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <th>Avatar</th>
        <td><img src="{{user.avatar}}" /></td>
      </tr>
    </table>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>